<!doctype html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <body>
        {% block header %}

        {% endblock header %}


        {% block content %}

        {% endblock content %}



        {% block footer %}
            <p>
            {% if user.is_authenticated %}
               <strong>Nice to see you, {{ user.username }} :) </strong>
                <br/>
                If you want to log out, please click below
                <br/>
                <br/>
                <a href="{% url 'logout' %}">
                    <button type="button">Log out</button>
                </a>
            {% else %}
                So, please log in
                <a href="{% url 'login' %}">
                    <button type="button">Log in</button>
                </a>
            {% endif %}
            </p>
            <strong>Data: </strong> {{ datetime }}
        {% endblock footer %}
    </body>
</html>
