{% extends 'contacts/base.html' %}

{% load static %}


{% block title %}
    My address book
{% endblock %}


{% block header %}
    <h2> {{ welcome }} </h2>
    <br/>
{% endblock header %}


{% block content %}
    <img src="{% static 'new_logo.png' %}" width="450" />
    <br/>
    <p>To continue, you should identify yourself </p>
    <p> If you are me, well you can do anything :) <br/>
        Otherwise you might be one of my friend.
        In that case you may only check basic info about others
    </p>
{% endblock %}

