{% extends 'contacts/base.html' %}

{% load static %}


{% block title %}
    My address book
{% endblock %}


{% block header %}
    <h2> {{ welcome }} </h2>
    <br/>
{% endblock header %}


{% block content %}
    <img src="{% static 'logo.png' %}" width="150" />
    <br/>
    <p>To continue, you should identify yourself </p>
    <a href="{% url 'login' %}">
        <button type="button">Log in</button>
    </a>
    <p> If you are me, well you can do anything :) <br/>
        Otherwise you might be one of my friend.
        In that case you may check basic info about others
    </p>
    <br/>
{% endblock %}

